@using Model;
@{

    Layout = null;
    Users item = ViewBag.users;
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @RenderPage("~/Views/Shared/Include.cshtml")
</head>
<body>
    <div class="easyui-panel" style="padding: 20px 20px;">
        <form method="post" name="frm_changePassword" action="/Admin/SavePassword" id="frm_changePassword">
            <table class="detail_table" border="0" cellspacing="1" cellpadding="0" align="center" width="100%">


                <tr class="detail_tr">
                    <td class="detail_td1" colspan="2">
                        <div align="center"><strong>修改密码</strong></div>
                        @Html.HiddenFor(i => item.ID)
                        @Html.HiddenFor(i => item.RoleID)
                        @Html.HiddenFor(i => item.MasterID)
                        @Html.HiddenFor(i => item.MasterType)
                        @Html.HiddenFor(i => item.DeptID)
                        @Html.HiddenFor(i => item.RealName)
                        @Html.HiddenFor(i => item.UserName)
                        @Html.HiddenFor(i => item.IsKeyNode)
                        @Html.HiddenFor(i => item.IsDeleted)
                        <input id="OldPassword" type="hidden" value="@item.Password" name="OldPassword" />
                    </td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">用户名：</td>
                    <td class="detail_td2">@item.UserName</td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">用户：</td>
                    <td class="detail_td2">@item.RealName</td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">原密码：</td>
                    <td class="detail_td2"><input type="password" name="CheckPassword" id="CheckPassword" /></td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">密码：</td>
                    <td class="detail_td2">@Html.PasswordFor(i => item.Password)</td>
                </tr>
                <tr class="detail_tr">
                    <td class="detail_td1">确认密码：</td>
                    <td class="detail_td2"><input type="password" name="Repassword" id="Repassword" /></td>
                </tr>
            </table>
            <p align="center">
                <a href="javascript:void(0)" class="easyui-linkbutton" id="btnLogin" iconcls="icon-ok" onclick="SubmitData()">修改密码</a>
            </p>
        </form>

    </div>
</body>
</html>
<script type="text/javascript">
    function SubmitData() {
        if (($("#OldPassword").val() != $("#CheckPassword").val())) {

            $.messager.alert('错误', '原密码输入错误!');
        } else {
            if ($("#item_Password").val() == "" || $("#Repassword").val() == "") {

                $.messager.alert('错误', '密码不能为空!');

            }
            else {
                if ($("#item_Password").val() != $("#Repassword").val()) {

                    $.messager.alert('错误', '两次输入的密码不一致!');

                } else {
                    $.messager.confirm("操作提示", "密码修改成功，请重新登录", function (r) {
                        if (r) {

                            setTimeout(function () { $("#frm_changePassword").submit() }, 0);
                            top.location.href = '/Login/Login';
                            return true;
                            //$.messager.alert('操作提示','修改密码成功，请重新登录', function (result) {
                            //    if (result) {
                            //        window.location.href = "/Login/TimeOut";
                            //    }
                            //});
                        }
                    });

                }

            }
        }
    }

</script>